*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, sans-seriff;
}

label {
    text-align: left;
    display: block;
    font-size: larger;
}

input {
    appearance: initial;
    width: 100%;
    margin: 10px 0;
    padding: 6px 10px;
    background: initial;
    border: 1px solid #ddd;
    outline: initial;
    box-sizing: border-box;
    display: block;
}


/* .form-group .btn-primary{
    
    color: rgb(215, 215, 238);
    background: #3b809b;
    border: 0;
    padding: 8px;
    border: 1px solid rgb(10, 1, 1);
    outline: initial;
    border-radius: 8px;
    box-sizing: border-box;
    display: block;
    cursor: pointer;
}
.form-group .btn-primary:hover {
    background: #016ABC;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    }
  
form{
    display: table-row;
    position: relative;
  }
form:after{
    content: '';
    display: table-row;
    position: relative;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: 1;
    background-image: linear-gradient(to bottom right, #FFCE00,#FE4880);
  } */