input .price-input{
    border:initial;
    outline: initial;
    appearance: initial;
    background: initial;
}
.prices-form{
    margin-top: 100px;
    margin-left: 450px;
    width: 350px;
    height: 40px;
}